# latex intermediates
*.aux
*.log
*.dvi
*.toc
*.bbl
*.blg
*.lof
*.lot
*.idx
*.ilg
*.ind
Docs/*/*.pdf
MaestroUsersGuide.out


# emacs temporaries
*~
\#*


# Maestro files created at compile-time
probin.f90
build_info.f90


# Maestro executable
main.*.exe


# build stuff
t/
