Ann Almgren <asalmgen@lbl.gov> almgren <almgren>
Michael Zingale <michael.zingale@stonybrook.edu> mzingale <mzingale>
Chris Malone <cmalone@lanl.gov> cmalone <malone@ucolick.org>
Chris Malone <chris.m.malone@gmail.com>
Chris Malone <cmalone>
Andy Nonaka <ajnonaka>
Andy Nonaka <AJNonaka@lbl.gov> ajnonaka <AJNonaka@lbl.gov>
Adam M. Jacobs <adam.jacobs@stonybrook.edu> Adam Jacobs <adam.jacobs@stonybrook.edu>
Adam M. Jacobs <adam.jacobs@stonybrook.edu>  ajacobs <ajacobs>
Maria Barrios Sazo <maria.barriossazo@stonybrook.edu> mbarrios <maria.barriossazo@stonybrook.edu>
Maria Barrios Sazo <maria.barriossazo@stonybrook.edu> Maria Barrios <mbarrios@blackwidow.astro.sunysb.edu>
Maria Barrios Sazo <guadabsb15@gmail.com>
Mike Lijewski <mjlijewski@lbl.gov> lijewski <mjlijewski@lbl.gov>
Mike Lijewski <mjlijewski@lbl.gov> lijewski <lijewski>
Max Katz <maximilian.katz@stonybrook.edu> Max <maximilian.katz@stonybrook.edu>
Don Willcox <dwillcox@users.noreply.github.com>
Don Willcox <dwillcox@electra.iacs.stonybrook.edu>
Don Willcox <eugene.willcox@gmail.com>
